body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
   
  }
  
.showcase {
  background-color: #c0c0c0b5;
  padding: 15px;
  
}
  
.showcase .overlay {
  background-color: #c0c0c0b5;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
@media(min-width:1024px) {
  .showcase {
     height: 400px;    
  }
  
}